.gradient-title{
  
     font-family: 'Arial Black', sans-serif;
     animation: setIn 2s ease-in;

  
  text-shadow: 
    1px 1px orangered
  
  /* base silver */

}

.cubecontainer {
  perspective: 800px;
  width: 500px;
  height: 500px;
  position: relative;
}

.cube {
  width: 10px;
  height: 10px;
  position: absolute;
  transform-style: preserve-3d;
  animation: spin 5s infinite linear;
}

.cube div {
  position: absolute;
  width: 500px;
  height: 500px;
  opacity: 0.9;
}

.front {
  background: hsl(175deg 100% 70%);
  transform: rotateY(0deg) translateZ(250px);
}

.back {
  background: hsl(190deg 100% 70%);
  transform: rotateY(180deg) translateZ(250px);
}

.left {
  background: hsl(200deg 100% 70%);
  transform: rotateY(-90deg) translateZ(250px);
}

.right {
  background: hsl(210deg 100% 70%);
  transform: rotateY(90deg) translateZ(250px);
}

.top {
  background: hsl(220deg 100% 70%);
  transform: rotateX(90deg) translateZ(250px);
}

.bottom {
  background: hsl(230deg 100% 70%);
  transform: rotateX(-90deg) translateZ(250px);
}

@keyframes spin {
  0% { transform: rotateX(0deg) rotateY(0deg); }
  100% { transform: rotateX(360deg) rotateY(360deg); }
}
